<html>
    
    <!-- <link rel="stylesheet"  href="style.css"> -->
    <h1 style="color: pink;margin-left: 660px;margin-top: 45px;">Welcome to BookBug {{username}} !</h1>
    <style >
    	body{
    		background-image: url(/static/images/wll.jpg);
    		background-repeat: no-repeat;
    		background-size: cover;
    		background-position: center;
    		height: 100%;
    	}
    </style>
    <body>

    	<div>
            <form action="/submit" method="GET">

                <table style="margin-left: auto;margin-right: 250px;margin-top: 25%;">
                    <tr>
                        <td> <input type="text" name="name" placeholder="what are you looking for?"  style="width: 350px; color: black;background-color: blanchedalmond;border-radius: 8px;padding: 5px;" > </td>
                        <td> <button type="submit" style="background-color: blanchedalmond;border-radius: 8px;padding-block: 3px;padding-left: 10px;padding-right: 10px; " >Submit</button></td>
                    </tr>
                </table>

    		
    		

        </form>

    		
    		
    	</div>
        

    </body>
</html>